*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	/* gap: 8px; */
}
.Home {
	width: 100%;
	background-color: #0d0d24;
}

.cabezal {
	background-color:#06061d;
	padding: 0;
	display: flex;
    flex-flow: nowrap;
	flex-wrap: wrap;
	flex-direction: column;
}

section{
	width: 100%;
	display: flex;
	padding: 0% 0% 0 0;
	align-items: center;

}

.presentacion{
	width: 80%;
	display: flex;
	padding: 2%;
	gap: 1%;
	align-items: center;

}

#titulo{
	font-size: 50px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow: -1px -1px 0 #abd2ff;
	color:#226332;
}

.boton{
	display: inline-block;
	padding: 3%;
	background-color: #579bac;
	margin: 2%;
	color: rgb(21, 16, 78);
	text-align: center;
	text-decoration: none;
	border-radius: 1em;
	border: 0.2em solid #7f2991;
}
.boton:hover{
	background-color: #181e3f;
	color: #50c9eb;
	border-color:#20606e ;
	transition: 1s;
}

.navegador{
	width: 100%;
	margin: 0%;
	padding: 1% 20%;
	text-align: center;
	background-color: #0e1030;
	position: relative;
}

.navegador a{
	/* margin: 5%; */
	padding: 2% 5%;
	text-decoration: none;
	color: #9ba8bb;
	font-size: large;
}

#navegador_interno{
	position: relative;
	margin-left:2em ;
}

.icono_menu{
	cursor: pointer;
	color: #abd2ff;
	font-size: xxx-large;
	font-family: Arial, Helvetica, sans-serif;
}

.cuadro_interno {
	width: 150px;
	padding: 1.5em 1.5em 1.5em 1em;
	display: none;
	position: absolute;
	background-color:#333661 ;
	z-index: 1000;
	
}

.cuadro_interno li{
	width: 100%;
	list-style-type: none;
}

.cuadro_interno a:hover, .cuadro_interno button:hover,.navegador a:hover {
	color: #7a70b3;
	background-color: #d0d0d4;
	
}

.cuadro_interno button, .cuadro_interno a{
	width: 100%;
	display: block;
	text-align-last: left;
	padding: 3px;
	background-color: transparent;
	border: none;
	color: #a1a1b6;
	text-decoration: none;
	cursor: pointer;
	font-family:Arial, Helvetica, sans-serif ;
	font-size: 14px;
}


.cuadro{
	margin: 2%;
	padding: 3%;
	background-color: #181e3f;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #bcc9cc;
}

.fichas{
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
.items{
	width: 48%;
	height: 300px;
	margin: 6px;
	margin-left: 10px;
	display: flex;
	flex-wrap: wrap;
	border: 0.3em solid #6f79af;
	background-color: #171738;
	word-wrap: break-word;
	hyphens: auto;
}
.items:hover {
	background-color: #50c9eb;
	border-color: #a5e9fc;
	transition: 1s;

}

.info{
	width: 60%;
	height: 100%;
	padding: 2%;
	background-color: #3e4568;
	opacity: 90%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #c9cccf;
	overflow: auto; /*Muy util, sin cambiar el tamaño del cuadro admitio toda la informacion*/
}
.info p{
	margin-bottom: 8px;
}
.imagen{
	width: 38%;
	height: 96%;
	margin: auto;
}
@media (max-width: 820px){
	.items{
		width: 100%;
	}
	.info{
		width: 50%;
	}
}