/* Estableciendo valores generales para todos los elementos*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Arial;
}

.Home {
	width: 100%;
	min-height: 100%;
	background-color: #0d0d24;
	
}

.cabezal {
	background-color:#06061d;
	padding: 0;
	display: flex;
    flex-flow: nowrap;
	flex-wrap: wrap;
	flex-direction: column;
}

section{
	width: 100%;
	display: flex;
	padding: 0% 0% 0 0;
	align-items: center;

}

.presentacion{
	width: 80%;
	max-width: 1000px;
	display: flex;
	padding: 2%;
	gap: 1%;
	align-items: center;

}
.presentacion img{
	width: 120px;
}

#titulo{
	font-size: 40px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow: -2px -3px 0 #155f72;
	color:#ace0e4;
}
.ingresar{
	width: 18%;
}

.boton{
	display: inline-block;
	padding: 10px;
	background-color: #181e3f;
	margin: 2%;
	color: #50c9eb;
	text-align: center;
	text-decoration: none;
	border-radius: 1em;
	border: 0.2em solid #20606e;
	cursor: pointer;
}
.boton:hover{
	background-color: #226ca8;
	color: #0a0942;
	border-color:#32d9ff ;
	transition: 2;
}

/* Navegador */
.navegador{
	width: 100%;
	margin: 0;
	padding: 0% 20%;
	background-color: #0e1030;
	display: flex;
}
.paginas{
	width: 100%;
	text-align: center;
	display: flex;
	
}

#buscador{
	width: 30%;
	position: relative;
	display: flex;
	align-items: center;
	left: 15%;
}

#buscador input{
	width: 300px;
	padding: 6px;
	font-size: 16px;
	border-radius: 15px;
}
#buscador #buscar{
	font-size: large;
	cursor: pointer;
	margin: 0 8px;
}
#buscador #buscar:active{
	background-color: #155f72;
}
#search{
	width: 100px;
	transition: width 0.4s ease-in-out;
}

.paginas a{
	padding: 3% 5%;
	text-decoration: none;
	color: #9ba8bb;
	font-size: large;
}

/* Navegador del usuario registrado */
#navegador_interno{
	position: relative;
	margin-left:2em ;
	display:none;
}

.icono_menu{
	cursor: pointer;
	color: #abd2ff;
	font-size: xxx-large;
	font-family: Arial, Helvetica, sans-serif;
}

.cuadro_interno {
	width: 150px;
	padding: 1.5em 1.5em 1.5em 1em;
	display: none;
	position: absolute;
	background-color:#333661 ;
	z-index: 1000;
}

.cuadro_interno li{
	width: 100%;
	list-style-type: none;
}

.cuadro_interno a:hover, .cuadro_interno button:hover,.paginas a:hover {
	color: #7a70b3;
	background-color: #d0d0d4;
	
}

.cuadro_interno button, .cuadro_interno a{
	width: 100%;
	display: block;
	text-align-last: left;
	padding: 3px;
	background-color: transparent;
	border: none;
	color: #a1a1b6;
	text-decoration: none;
	cursor: pointer;
	font-family:Arial, Helvetica, sans-serif ;
	font-size: 14px;
}

/* Esto me ayuda a que el footer de la pagina aunque el cuadro sea mas  pequeño pueda quedarse abajo */
main{
	min-height: 340px;
}

/* Donde suele acabar toda la informacion */
.cuadro{
	margin: 2%;
	padding: 3%;
	background-color: #181e3f;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #bcc9cc;
}

.css_mensaje{
	min-height: 100%;
	margin: 12px 8px;
}

.css_mensaje p{
	margin-top:5px;
	font-size: 18px;
	align-content: center;
}

/* diseño para las peliculas y series agrupados */
.fichas{
	width: 100%;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
.items{
	width: 48%;
	height: 300px;
	margin: 5px;
	margin-left: 10px;
	display: flex;
	flex-wrap: wrap;
	border: 0.3em solid #6f79af;
	background-color: #171738;
	word-wrap: break-word;
	hyphens: auto;
}
.items:hover {
	background-color: #0d0d24;
	backdrop-filter: #50c9eb;
	border-color: #fca5a5;
}
.nombre_item:hover{
	color: #f55a5a;
	cursor: pointer;
}

.info{
	width: 60%;
	height: 100%;
	padding: 2%;
	background-color: #3e4568;
	opacity: 90%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #c9cccf;
	overflow: auto; /*Muy util, sin cambiar el tamaño del cuadro admitio toda la informacion*/
}

.info p{
	margin-bottom: 8px;
}

.imagen{
	width: 38%;
	height: 96%;
	margin: auto;
}

/* diseño para la pagina de registro */
.cuadro_pregunta{
	width: 100%;
	max-width: 800px;
	margin: auto;
	position: relative;
	padding: 20px;
	display: flex;
	justify-content: center;

}
.cuadro_pregunta div{
	margin:120px 60px;
	color: white;
	font-family: Arial, sans-serif;
	transition: all 0.5s;
}
.cuadro_pregunta div p, .cuadro_pregunta div button{
	margin-top: 20px;
}
.cuadro_pregunta div h3{
	font-weight: 400;
	font-size: 24px;
}
.pregunta-inicio{
	opacity:0;
}

.formularios {
	display: flex;
	align-items: center;
	max-width: 50%;
	position: relative;
	top: -220px;
	transition: all 0.6s;
}

.formularios form{
	width: 100%;
	background: hsla(231, 73%, 72%, 0.418);
	position: absolute;
	padding: 20px 90px;
}
.formularios h2{
	text-align: center;
	margin-top: 15px;
}
.formularios h4, .formularios p{
	margin-top:8px;
}

.formularios input{
	width: 100%;
	margin-top: 8px;
	border: none;
	background: #e0e6e9;
	padding: 3px;
	font-size: 12px;
	outline: none;
}

.formularios form .button{
	width: 150px;
	margin-top:10px;
	padding: 10px;
	background: #8ca2c2;
	border: none;
	border-radius: 15px;
	font-size: 16px;
	color: rgb(7, 11, 41);
	text-decoration: none;
	cursor: pointer;
}

.formulario-inicio{
	opacity: 1;
	display: block;
	transition: all 0.5s;
}

.formulario-registro{
	display: none;
	transition: all 0.5s;
}

#mensaje_error_inicio p, #mensaje_error_registro p{
	color: red;
	font-size: 8px;
	font-family: 'Franklin Gothic Medium';
}
#nacimiento {
	width: 50%;
}
/* para la pagina individual de cada pelicula o serie */
.cuadro #titulo_item{
	padding: 10px 15px;
	background-color: #252a4e;
	border-top: 5px solid #7077ad;
	box-shadow: -3px 0 #7077ad ;
}
#contenido_item{
	align-items: flex-start;
	border: 5px solid #252a4e;
	box-shadow:-3px 0 #7077ad ;
}
#contenido_item #item_informacion, #contenido_item .caja_sinopsis, .datos_items{
	margin: 10px 30px;
	
}

.caja_sinopsis{
	padding-top: 15px;
	width: 50%;
}
.sinopsis{
	padding-top: 10px;
}



/* pie de pagina */

footer{
	height: 50px;
	width: 100%;
	line-height: 50px;
	color: rgb(233, 246, 255);
	text-align: center;
	background: #1b224d;
	margin-top: 45px;
	position: relative;
	bottom: 0;
}

/* Adaptacion a los dispositivos */
@media (max-width: 890px){
	.navegador{
		padding: 0 8%;
	}
	.paginas{
		width: 60%;
	}
	#buscador{
		width: 25%;
		left: 0;
		
	}
	.items{
		width: 49%;
		margin: 10px auto;
	}
	.imagen{
		width: 48%;
	}

	.info{
		width: 50%;
	}
	.cuadro_pregunta div{
		max-width: 350px;
		padding: 20px;
		margin:  90px 40px;
	}
	.formularios{
		top: -210px;
	}
	.formularios form{
		padding: 20px;
	}
}


@media (max-width: 470px){
	#titulo{
		font-size: 25px;
	}
	p{
		font-size: 14px;
	}
	.cuadro{
		margin:40px 10px;
	}
	.items{
		width: 100%;
		margin: 10px auto;
	}
	.presentacion{
		padding: 30px;
	}
	.presentacion img{
		display: none;
	}
	.navegador {
		padding: 8px;
	}
	.paginas{
		width: 80%;
	}
	#buscador{
		left: 0px;
		display: flex;
	}
	#buscador input{
		display: none;
	}

	.cuadro h2, .cuadro h4{
		margin: 15px 10px;
	}
	.cuadro_pregunta{
		padding-top: 10px;
		position: relative;
	}
	.cuadro_pregunta div{
		margin: 0%;
	}
	.pregunta-inicio{
		display: none;
	}
	.formularios{
		min-width:100%;	
		top: 0;
		display: block;
	}
	.formularios form{
		position: relative;
		left: 0;
	}
	.formulario-registro{
		left: 0px;
	}

		
}